* {
    box-sizing: border-box;
}

body {
    font-family: 'Caveat', cursive;
}

html, body {
    margin: 0;
    padding: 0;
}

.wrapper{
    height: 100vh;
    background-image: url(eustoma-tsvety-belyi-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    background-color: rgba(255, 160, 192, 0.4);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.title {
    position: relative;
    z-index: 10;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
}

.text {
    font-size: 30px;
    background-color: white;
    min-height: 300px;
    min-width: 250px;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.circle {
    height: 200px;
    width: 200px;
    background:rgb(255, 255, 255);
    border-radius: 50%;
    position: fixed;
    overflow: hidden;
    right: 20px;
    bottom: 20px;
}

.circle_img {
    width: 100%;
}

.circle:hover~.text {
    display: block;
}